* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  max-width: 500px;
}
a {
  text-decoration: none;
  margin-top: 8px;
}
h1 {
  margin: 20px;
}

ul {
  list-style: none;
}
li {
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
}
input,
button {
  margin-top: 8px;
  padding: 8px;
}
label {
  margin-top: 8px;
}
.search-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error-msg {
  color: red;
}
